@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 55 60% 97%;
    --foreground: 215 25% 25%;
    --card: 0 0% 100%;
    --card-foreground: 215 25% 25%;
    --popover: 0 0% 100%;
    --popover-foreground: 215 25% 25%;
    --primary: 211 96% 25%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 20% 90%;
    --secondary-foreground: 211 96% 25%;
    --muted: 210 20% 65%;
    --muted-foreground: 215 15% 45%;
    --accent: 0 81% 54%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 20% 85%;
    --input: 210 20% 85%;
    --ring: 211 96% 25%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 217 91% 60%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 0 81% 54%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 0 81% 54%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes highlight-value {
  50% {
    transform: scale(1.1);
    color: hsl(var(--primary));
  }
}

.animate-highlight {
  animation: highlight-value 0.5s ease-out;
}

@keyframes sliding-text {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.sliding-text-container {
  width: 100%;
  overflow: hidden;
}

.animate-sliding-text {
  animation: sliding-text 15s linear infinite;
}
