@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 210 10% 23%;
    --card: 60 56% 91%;
    --card-foreground: 210 10% 23%;
    --popover: 60 56% 91%;
    --popover-foreground: 210 10% 23%;
    --primary: 207 95% 26%;
    --primary-foreground: 210 40% 98%;
    --secondary: 60 15% 85%;
    --secondary-foreground: 207 95% 26%;
    --muted: 60 15% 85%;
    --muted-foreground: 60 5% 53%;
    --accent: 359 81% 47%;
    --accent-foreground: 359 81% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 60 15% 80%;
    --input: 60 15% 80%;
    --ring: 207 95% 26%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 217 91% 60%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 359 81% 57%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 359 81% 57%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes highlight-value {
  50% {
    transform: scale(1.1);
    color: hsl(var(--primary));
  }
}

.animate-highlight {
  animation: highlight-value 0.5s ease-out;
}
